/**{
* @name Camel White
* @description discord.gg/com
* @author audioz#6001
* @version 1.0.0
* @authorId 521686636636012564
* @website https://audioz.space
* @source https://pnrtscr.com/ixnnxa
*/

@import url("https://raw.githack.com/Snapperito/Dark-Discord/master/src/source.css");
@import url("https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Fonts/DiscordFont.css");
@import url("https://mulverinex.github.io/legacy-settings-icons/dist-native.css");

.theme-dark,
.theme-light,
:root {
    --background-primary: #141414 !important;
    --background-secondary: #111111 !important;
    --background-secondary-alt: #292929 !important;
    --background-tertiary: #0c0c0c !important;
    --background-accent: #242424 !important;
    --background-floating: #0c0c0c !important; 
	--font: 'Whitney' !important;
    --background-modifier-hover: rgba(255,255,255,0.01) !important;
    --background-modifier-active: rgba(255,255,255,0.03) !important;
    --background-modifier-selected: rgba(255,255,255,0.04) !important;
    --background-modifier-accent: hsla(0,0%,100%,0.06) !important;
    --channeltextarea-background: var(--background-accent) !important;
    --deprecated-card-bg: rgba(0, 0, 0, 0.2) !important;
    --deprecated-card-editable-bg: rgba(0,0,0,0.1) !important;
    --deprecated-text-input-border-disabled: var(--background-tertiary) !important;
    --activity-card-background: var(--background-primary) !important;
    --channels-default: #9f9f9f !important;
    --text-muted: #b6b6b6 !important;
    --text-normal: #fbfbfb !important; 
    --interactive-normal: #c8c8c8 !important;
    --interactive-hover: #dcddde !important;
    --interactive-active: #fff !important;
    --interactive-muted: #747474 !important;
    --header-secondary: #c9c9c9 !important;
    --toast-background: var(--background-primary) !important;
    --toast-header: var(--background-tertiary) !important;
    --toast-contents: var(--background-secondary) !important;
    --toast-box-shadow: rgba(0, 0, 0, .2) !important;
    --toast-border: var(--background-tertiary) !important;
    --offline-color: rgb(60, 60, 60) !important;
    --settings-icon-color: white;
    --settings-subscriptions: #7289da;
    --settings-hypesquad: #fbb848;
    --settings-logout: #f04747;
}

.wordmark-2iDDfm svg {
    width: 0px;
}

.wordmark-2iDDfm:after {
    font-family: "Discord";
    content: "camel";
    font-size: 15px;
    background: rgb(255, 255, 255, 0.1);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #fff;
    position: absolute;
    top: 5.8px;
}


/* Dropdown Menu thx Leeprky you are mad sexy aint gonna lie*/
div[id="message-actions"] {
  min-width: 0px;
  width: 57px;
  transition: 1s;
}
div[id="message-actions"]:hover {
  min-width: 0px;
  width: 200px;
  transition: 0.5s;
}


/*topbar*/
[class*=bg] {
  --col-grad-one: rgba(12,12,12,0.5);
  
  --col-grad-two: rgba(15,15,15,0.5);
  
  --col-grad-three: rgba(18,18,18,0.5);
  
  --col-grad-deg: 100deg;
  
  background: linear-gradient(var(--col-grad-deg), var(--col-grad-one) 0%, var(--col-grad-two) 58%, var(--col-grad-three) 100%); 
}



/*Call dock  thx DanKGooGLy#0001 */
.wrapper-3EGhDO {
    background-color: var(--background-secondary);
    border-radius: 25px;
    padding: 0px;
}
.colorable-1bkp8v.white-3GPOIp, .colorable-1bkp8v.white-3GPOIp .centerIcon-2G6o-T {
    color: currentColor;
}
.colorable-1bkp8v.primary-3NQg8g,
.colorable-1bkp8v.primary-3NQg8g.active-1QRrIS, .colorable-1bkp8v.primary-3NQg8g:hover, 
.colorable-1bkp8v.white-3GPOIp,
.centerButton-3CaNcJ,
.colorable-1bkp8v.white-3GPOIp.active-1QRrIS, .colorable-1bkp8v.white-3GPOIp:hover,
.colorable-1bkp8v.red-33-Lnk {
    background: none !important;
}



/** Chat box thx "hot tutorial" */
.form-2fGMdU {
  display: flex;
  flex-direction: column-reverse;
}
.channelTextArea-rNsIhG, .popout_7205, .form-2fGMdU  {
  background: rgba(0,0,0, 0);
  margin-bottom: 5px;
}
.typing-2GQL18, .base-gE7OpD {
  margin-bottom: 5px;
  background-color: rgba(0,0,0,0.4);
  backdrop-filter: blur(9px);
  border-radius: 50px;
  position: relative;
  margin-right: 35px;
}
.scrollerSpacer-avRLaA {
  height: 15px
}
.cooldownWrapper-3joyFc {
  margin-right: 5px;
}

/**Better jump to present bar by MrTime*/
.jumpToPresentBar-G1R9s6 {
  background-color: rgba(0,0,0,0.2);
  backdrop-filter: blur(5px);
}


/** Better New Massages Bar by Chromus*/
.newMessagesBar-265mhP {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 50px;
  margin-top: 5px;
}

/*Better voice design thx snapperito*/
.ping-2NgC8E {
    transform: scale(1.7);
    margin-left: 5px;
    margin-top: 11px;
    margin-bottom: 0;
    height: 20px;
}
.channel-1TmDQ6 {
    margin-left: 30px;
    margin-top: -9px;
}
.rtcConnectionStatusConnected-VRZDjy {
    margin-left: 10px;
}




/*Modern Embed thx rob#1160*/
.embedFull-2tM8-- {
  background: rgba(0,0,0, 0.4);
  border-left: 0px;
  border-bottom: 3px solid;
  border-radius: 10px;
  box-shadow: var(--elevationHigh);
}
.embedFull-2tM8-- .grid-1nZz7S {
  padding-top: 3px;
  padding-bottom: 10px;
}


/* Hide the help button on the upper right */
.iconWrapper-2OrFZ1[aria-label=Help] {
  display: none;
}

/* Bot tags */
  /* colour of the tag (backround and text) */
 [class*="botTagCozy-"], [class*="botTag-"] {
    background-color: #1c1b1b;
	font-family:discord;
	font-size:12px;
    color: #fff;
}

  /* not too sure what this does but without it, the colour
  is just a box inside the tag rather than the whole tag being
  the same colour */
.botTagRegular-2HEhHi span, .botTagInvert-18-95s span {
    display: none;
}

  /* ah yes, bot equals to slave */
.botTagRegular-2HEhHi::after, .botTagInvert-18-95s::after {
    content: 'slave';
}

/* Blurred notes on a user (when clicked in member list
and on profile) */
.note-QfFU8y textarea {
    filter: blur(5px);
    transition: .2s cubic-bezier(.2, .11, 0, 1);
}
.note-QfFU8y textarea:focus, .note-QfFU8y textarea:hover {
    filter: none;
    transition: .2s cubic-bezier(.2, .11, 0, 1);
}
.note-3HfJZ5 textarea {
    filter: blur(5px);
    transition: .2s cubic-bezier(.2, .11, 0, 1);
}
.note-3HfJZ5 textarea:focus, .note-3HfJZ5 textarea:hover {
    filter: none;
    transition: .2s cubic-bezier(.2, .11, 0, 1);
}



/**temp*/

