/**{
* @name Camel White
* @description discord.gg/com
* @author audioz#6001
* @version 1.2.0
* @authorId 521686636636012564
* @website https://pornhub.com
* @source https://github.com/ignaudioz/camel
*/

.theme-dark,
.theme-light,
:root {
    --background-primary: #141414 !important;
    --background-secondary: #111111 !important;
    --background-secondary-alt: #292929 !important;
    --background-tertiary: #0c0c0c !important;
    --background-accent: #242424 !important;
    --background-floating: #0c0c0c !important; 
	  --font: 'Whitney' !important;
    --background-modifier-hover: rgba(255,255,255,0.01) !important;
    --background-modifier-active: rgba(255,255,255,0.03) !important;
    --background-modifier-selected: rgba(255,255,255,0.04) !important;
    --background-modifier-accent: hsla(0,0%,100%,0.06) !important;
    --channeltextarea-background: var(--background-accent) !important;
    --deprecated-card-bg: rgba(0, 0, 0, 0.2) !important;
    --deprecated-card-editable-bg: rgba(0,0,0,0.1) !important;
    --deprecated-text-input-border-disabled: var(--background-tertiary) !important;
    --activity-card-background: var(--background-primary) !important;
    --channels-default: #9f9f9f !important;
    --text-muted: #b6b6b6 !important;
    --text-normal: #fbfbfb !important; 
    --interactive-normal: #c8c8c8 !important;
    --interactive-hover: #dcddde !important;
    --interactive-active: #fff !important;
    --interactive-muted: #747474 !important;
    --header-secondary: #c9c9c9 !important;
    --toast-background: var(--background-primary) !important;
    --toast-header: var(--background-tertiary) !important;
    --toast-contents: var(--background-secondary) !important;
    --toast-box-shadow: rgba(0, 0, 0, .2) !important;
    --toast-border: var(--background-tertiary) !important;
    --offline-color: rgb(60, 60, 60) !important;
    --settings-icon-color: white;
    --settings-subscriptions: #7289da;
    --settings-hypesquad: #fbb848;
    --settings-logout: #f04747;
}

/* Changes the base color for all (jump to, go back to present etc..) bars 
to opaque */
.barBase-3xxDXu {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 50px;
  margin-top: 5px;
}
/*fixed "Try slash commands!" popup position and changed to opaque*/
.base-3bcbY3 {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 45px;
  margin-right: 25px;
  position: relative;
}

/*Fixing Friends tab colors*/
.peopleColumn-1wMU14{
  background-color: var(--background-primary);
}


/*Replaces Discord logo on top with the Camel one*/
.wordmarkWindows-2dq6rw svg {
    width: 0px;
}
.wordmark-2u86JB:after {
    font-family: "Discord";
    content: "camel";
    font-size: 15px;
    background: rgb(255, 255, 255, 0.1);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #fff;
    position: absolute;
    top: 5.8px;
}

/* Changing screenshare background color*/
.activityPanel-9icbyU {
  background-color: var(--background-secondary);
}

/* Dropdown Menu thx Leeprky you are mad sexy aint gonna lie*/
div[id="message-actions"] {
  min-width: 0px;
  width: 57px;
  transition: 1s;
}
div[id="message-actions"]:hover {
  min-width: 0px;
  width: 200px;
  transition: 0.5s;
}


/* Topbar */
[class*=bg] {
  --col-grad-one: rgba(12,12,12,0.5);
  
  --col-grad-two: rgba(15,15,15,0.5);
  
  --col-grad-three: rgba(18,18,18,0.5);
  
  --col-grad-deg: 100deg;
  
  background: linear-gradient(var(--col-grad-deg), var(--col-grad-one) 0%, var(--col-grad-two) 58%, var(--col-grad-three) 100%); 
}


/* Call dock  */
.wrapper-3Hk9OB {
    background-color: var(--background-secondary);
    padding: 0px;
}

/* User dock*/
.container-YkUktl{
    background-color: var(--background-secondary);
    margin-bottom: 0px;
}


/*Chat box*/
.form-3gdLxP {
  display: flex;
  flex-direction: column-reverse;
  background: rgba(0,0,0, 0);
  margin-bottom: 5px;
}
.channelTextArea-1FufC0, .channelTextArea-1VQBuV {
  background: rgba(0,0,0, 0);
  margin-bottom: 5px;
}
/*Better is typing*/
.typing-2J1mQU {
  margin-bottom: 5px;
  background-color: rgba(0,0,0,0.4);
  backdrop-filter: blur(9px);
  border-radius: 50px;
  position: relative;
  margin-right: 35px;
}


/* Embed color line in the bottom*/
.embedFull-1HGV2S {
  background: rgba(0,0,0, 0.4);
  border-left: 0px;
  border-bottom: 3px solid;
  border-radius: 10px;
  box-shadow: var(--elevationHigh);
}
.embedFull-1HGV2S .grid-1nZz7S {
  padding-top: 3px;
  padding-bottom: 10px;
}


/* Bot tags */
  /* colour of the tag (backround and text) */
 [class*="botTagCozy-"], [class*="botTag-"] {
    background-color: #1c1b1b;
	font-family:discord;
	font-size:12px;
    color: #fff;
}
/*Hides the "bot" content from the tag*/
.botTagRegular-kpctgU span, .botTagInvert-18-95s span {
    display: none;
}
/* ah yes, bot equals to slave */
.botTagRegular-kpctgU::after, .botTagInvert-18-95s::after {
    content: 'slave';
}


/* Blurred notes on a user*/
.note-Go5ZP2 textarea {
    filter: blur(5px);
    transition: .1s cubic-bezier(.2, .11, 0, 1);
}
.note-Go5ZP2 textarea:focus, .note-QfFU8y textarea:hover {
    filter: none;
    transition: .1s cubic-bezier(.2, .11, 0, 1);
}